<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        @font-face {
            font-family: "Inter";
            src: url("/fonts/Inter-Regular.ttf");
        }

        body {
            font-family: "Inter";
            background-color: #0f172a;
            color: white;
        }

        .topbar {
            width: 100%;
            border-bottom: 1px solid #777777;
        }

        .topbar a {
            font-size: 14px;
            color: #bcc1ca;
            margin-right: 10px;
        }

        .active {
            border-bottom: 2px solid #2450b1;
            padding-bottom: 3px;
        }

        .card {
            background: #1e293b;
            border: none;
            border-radius: 15px;
        }
         .completed {
            background: #10B98133;
            color: #10b981;
            font-size: 12px;
        }
        .custom-table-wrapper {
            background-color: #171c26;
            color: #bdc1ca;
            border-radius: 19px;
            overflow: hidden;
            font-size: 14px;
        }

        .custom-table {
            background: transparent !important;
            margin-bottom: 0;
            border-collapse: separate;
            border-spacing: 0;
        }

        .custom-table thead th {
            color: #bdc1ca;
            background: #262a33;
            border-bottom: 1px solid #2f343d;
            font-weight: 600;
            padding: 16px 18px;
        }

        .custom-table tbody tr {
            background: transparent;
            border-bottom: 1px solid #2f343d;
        }

        .custom-table tbody tr:last-child {
            border-bottom: none;
        }

        .custom-table tbody td {
            color: #f3f4f6;

            background: transparent !important;
            vertical-align: middle;
            padding: 16px 18px;
        }

        .custom-table tbody tr:hover td {
            background: rgba(255, 255, 255, 0.02);
        }
    </style>
</head>

<body>
    <%- include('../partials/header') %>

        <div class="d-flex">
            <%- include('../partials/sidebar') %>

                <div class="p-4 w-100" style="
          background: #0f172a;
          min-height: 100vh;
          font-family: 'Inter', sans-serif;
          color: white;
        ">
                    <h3 class="fw-bold mb-4">Payments</h3>

                    <div class="topbar mb-5">
                        <a class="text-decoration-none" href="">Transactions</a>
                        <a class="text-decoration-none" href="">Invoice</a>
                    </div>
                    <div >
                                <h5 class="fw-semibold mt-4">Recent Invouces</h5>
                                <div class="table-responsive custom-table-wrapper">
                                    <table id="table" class="table table-borderless align-middle custom-table">
                                        <thead>
                                            <tr>
                                                <th class="text-start">ID</th>
                                                <th class="text-start">Customer</th>
                                                <th class="text-start">Amount </th>
                                                <th class="text-center">Status</th>
                                                <th>Date</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-start">#W01</td>
                                                <td class="text-start">
                                                    Jude Bellingam
                                                </td>
                                                <td>$3500</td>
                                                <td class="text-center"><span class="btn completed fw-semibold rounded-5">Completed</span></td>
                                                <td>Dec 15,2024</td>
                                                <td class="text-center"><a href="#" class="text-danger"><img class="icon-box" src="/images/delete.svg"
                                                alt="" /></a></td>
                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                </div>
        </div>
</body>
<script>
    const lineCtx = document.getElementById("lineChart");
    new Chart(lineCtx, {
        type: "line",
        data: {
            labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
            datasets: [
                {
                    label: "Tasks",
                    data: [800, 950, 900, 1000, 1400, 1450, 1400],
                    borderColor: "#38bdf8",
                    fill: true,
                    backgroundColor: "rgba(56, 189, 248, 0.2)",
                },
            ],
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
            },
        },
    });
</script>

</html>