@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #1a1c1e 0%, #0f0f23 100%);
  font-family: 'Inter', sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff0d inset !important;
  -webkit-text-fill-color: #BDC1CAFF !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

h2.h2-login {
  font-size: 25px;
  font-weight: 700;
}

p.login-p {
  font-size: 16px;
  color: #BDC1CAFF;
}

div.login-box {
  background: #1e293b;
  border-radius: 16px;
  width: 100%;
  max-width: 510px;
  text-align: center;
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
  padding: 40px 20px;
  margin: 20px;
}

.login-text {
  font-weight: 700;
  background: linear-gradient(135deg, #3b82f6, #0ea5e9);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

input.input-box {
  width: 100%;
  max-width: 384px;
  height: 40px;
  padding-left: 40px;
  padding-right: 12px;
  font-size: 14px;
  background: #ffffff0d;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 9999px;

  outline: none;
  color: #BDC1CAFF;
  display: block;
  margin: 0 auto;
}

.form-label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  color: #f1f5f9;
  font-weight: 550;
}

input.input-box::placeholder {
  color: #BDC1CA;
}

.input-box:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

#email {
  background: url('https://res.cloudinary.com/dqugwh4su/image/upload/v1761538438/mail_gmc16r.svg') no-repeat 10px center;
  background-size: 20px;
}

#email {
  background: url('https://res.cloudinary.com/dqugwh4su/image/upload/v1761538438/mail_gmc16r.svg') no-repeat 10px center;
  background-size: 20px;
}

#password {
  background: url('https://res.cloudinary.com/dqugwh4su/image/upload/v1761538432/lock_owbat5.svg') no-repeat 10px center;
  background-size: 20px;
}

.password-wrapper {
  position: relative;
  max-width: 384px;
  margin: 0 auto;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

div.div-container {
  margin: 20px auto 0;
  max-width: 384px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reme {
  font-size: 14px;
  color: #BDC1CA;
}

.forgot {
  font-size: 14px;
  text-decoration: none;
}

button.login-btn {
  width: 100%;
  max-width: 384px;
  border-radius: 9999px;
  background: linear-gradient(135deg, #3b82f6, #0ea5e9);
  color: #f1f5f9;
}

.login-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(37, 99, 235, 0.4);
}

.login-btn:active {
  transform: translateY(-1px);
}

p.label {
  font-size: 14px;
  color: #BDC1CA;
  margin-top: 10px;
}
label.label {
  font-size: 14px;
  color: #BDC1CA;
  margin-top: 10px;
  margin-left: 78px;
  
}

p.label a {
  text-decoration: none;
}


@media (max-width: 576px) {
  h2.h2-login {
    font-size: 20px;
  }

  div.login-box {
    padding: 30px 15px;
  }

  input.input-box {
    font-size: 13px;
  }

  .reme,
  .forgot {
    font-size: 12px;
  }
}

#error-msg {
  font-size: 14px;
  color: red;
}

/* SIGNUP */

#username {

  background: url('../images/user.svg') no-repeat 10px center;
  background-size: 20px;

}

#phone {

  background: url('https://res.cloudinary.com/dqugwh4su/image/upload/v1761538453/phone_zkqbcm.svg') no-repeat 10px center;
  background-size: 20px;

}

#conpassword {
  background: url('https://res.cloudinary.com/dqugwh4su/image/upload/v1761538432/lock_owbat5.svg') no-repeat 10px center;
  background-size: 20px;
}

.conpassword-wrapper {
  position: relative;
  max-width: 384px;
  margin: 0 auto;
}

.contoggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.otp {
  display: grid;
  grid-template-columns: repeat(6, 2.85rem);

  gap: 0.5rem;
  justify-content: center;
}

.otp-box {
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2.75rem;
  background: #ffffff0d;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  color: #BDC1CA;

}

.otp-box:focus {
  outline: 2px solid #ffffff7d;
 border: 1px solid rgba(255, 255, 255, 0.1);
 color: #BDC1CA;
}